<div class="container-fluid">
  <div class="d-flex flex-column mb-3 align-items-center">
    <h2 class="title-equipment font-weight-bold mb-5 border-bottom"><i class="fas fa-charging-station"></i> Équipements</h2>
    
    <!-- Champ de recherche -->
    <div class="d-flex">
      <div>
        <%= form_tag equipment_index_path, class:"form-inline", method: :get do %>
          <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Nom ou identifiant",
              style: "width: 250px;"
          %>
          <%= submit_tag "Rechercher", class:"btn btn-primary mr-5" %>
        <% end %>
      </div>

    <!-- Boutons pour trier par statut/criticité -->
      <% @status.each do |status| %>
        <div class="ml-3" role="button"><%= link_to "#{status}", equipment_index_path(status: status), class: "btn btn-primary" %></div>
      <% end %>
      <div class="ml-3" role="button"><%= link_to "Critiques", equipment_index_path(criticity: true), class: "btn btn-primary" %></div>
      <div class="ml-3" role="button"><%= link_to "Tous", equipment_index_path, class: "btn btn-primary" %></div>
    </div>
  </div>

  <!-- Tableau des équipements -->
  <div class="d-flex justify-content-center">
    <table>
      <thead class="back-color">
        <tr>
          <!-- Titres des colonnes -->
          <th class="font-weight-bold p-3 text-center h6">Nom</th>
          <th class="font-weight-bold p-3 text-center h6">Identifant</th>
          <th class="font-weight-bold p-3 text-center h6">Localisation</th>
          <th class="font-weight-bold p-3 px-5 text-center h6">Qualification</th>
          <th class="font-weight-bold p-3 px-5 text-center h6">Date de fin de contrat</th>
          <th class="font-weight-bold p-3 text-center h6">Statut</th>

          <!-- admin : lien vers le formulaire de création d'équipement -->
          <% if current_user.admin == true %>
            <th class="p-1 text-center h1">
              <%= link_to new_equipment_path do %>
                <i class="fas fa-folder-plus"></i>
              <% end %>
            </th>
          <% end %>
        </tr>
      </thead>
      <!-- Corps du tableau -->
      <tbody>
        <% @equipment.each do |equipment| %>
          <tr>
            <td class="p-3 text-center h5 td_name_equipment">
              <!-- Lien vers show equipement -->
              <%= link_to "#{equipment.name}", equipment_path(equipment), class: "remove-deco-link" %>

              <!-- Ajout d'un logo si l'équipement est critique -->
              <% if equipment.criticity %>
                <i class="fas fa-exclamation-triangle criticity_index"></i>
              <% end %>
            </td>
            
            <!-- Remplissage de la case si l'équipement n'a pas d'identifiant -->
            <% if equipment.identifiant.present? %>
              <td class="p-3 text-center h5"><%= equipment.identifiant %></td>
            <% else %>
              <td class="p-3 text-center h5"><i class="far fa-eye-slash"></i></td>
            <% end %>

            <!-- Remplissage de la case si l'équipement n'a pas de localisation précise -->
            <% if equipment.location.present? %>
              <td class="p-3 text-center h5"><%= equipment.location %></td>
            <% else %>
              <td class="p-3 text-center h5"><i class="far fa-eye-slash"></i></td>
            <% end %>
        
            <!-- La couleur de police change si la date est dépassée -->
            <% if equipment.validity_qualification.present? %>
              <% if equipment.validity_qualification > Time.now %>
                <td class="p-3 text-center h5 text-success"><%= equipment.validity_qualification.strftime("%d/%m/%Y") %></td>
              <% else %>
                <td class="p-3 text-center h5 text-danger"><%= equipment.validity_qualification.strftime("%d/%m/%Y") %></td>
              <% end %>
            <% else %>
              <!-- Remplissage de la case si l'équipement n'a pas de date de qualification -->
              <td class="p-3 text-center h5"><i class="far fa-eye-slash"></i></td>
            <% end %>

            <!-- La couleur de police change si la date est dépassée -->
            <% if equipment.end_contract.present? %>
              <% if equipment.end_contract > Time.now %>
                <td class="p-3 text-center h5 text-success"><%= equipment.end_contract.strftime("%d/%m/%Y") %></td>
              <% else %>
                <td class="p-3 text-center h5 text-danger"><%= equipment.end_contract.strftime("%d/%m/%Y") %></td>
              <% end %>
            <% else %>
              <!-- Remplissage de la case si l'équipement n'a pas de date de qualification -->
              <td class="p-3 text-center h5"><i class="far fa-eye-slash"></i></td>
            <% end %>

            <!-- L'icone change en fonction du statut -->
            <% if equipment.status == "Actif" %>
              <td class="p-3 text-center h5 text-success"><i class="fas fa-check"></i></td>
            <% else %>
              <td class="p-3 text-center h5 text-danger"><i class="fas fa-times"></i></i></td>
            <% end %>

            <!-- admin : lien vers le formulaire de modification d'équipement -->
            <% if current_user.admin == true %>
              <td class="back-color p-4 text-center h5">
                <%= link_to edit_equipment_path(equipment) do %>
                  <i class="fas fa-user-edit"></i>
                <% end %>
              </td>
            <% end %> 
          </tr>
        <% end %>
        </tbody>
    </table>
  </div>
</div>
