<div class="equipment_index_container">
  <% @equipment.each do |equipment| %>
  <div class="equipment-align-items">
    <p class="equipment-align-item"><%= link_to "#{equipment.name}", equipment_path(equipment) %></p>
    <p class="equipment-align-item"><%= equipment.identifiant %></p>
    <p class="equipment-align-item"><%= equipment.location %></p>
    <p class="equipment-align-item"><%= equipment.detail %></p>
    <p class="equipment-align-item"><%= equipment.commissioning_date %></p>
    <p class="equipment-align-item"><%= equipment.validity_qualification %></p>
    <p class="equipment-align-item"><%= equipment.status %></p>
  </div>
  <% end %>
</div>


