<div class="position-relative">
  <div class="container">
    <div class="row rounded">
      <div class="col-6 m-auto w-50 rounded p-4 border bg-transparen">
        <h3 class="title-new-equipment mb-3 font-weight-bold">Ajouter un équipement</h3>
        <%= simple_form_for [ @equipment ] do |f| %>
          <%= f.input :name, label: 'Type' %>
          <%= f.input :identifiant %>
          <%= f.input :serial_number, label: 'Numéro de série' %>
          <%= f.input :location, label: 'Localisation' %>
          <%= f.input :detail, label: 'Informations complémentaires' %>
          <%= f.input :commissioning_date, label: 'Date de mise en service' %>
          <%= f.input :validity_qualification, label: 'Date de fin de validité QP' %>
          <%= f.input :status, :collection => ['Actif', 'Inactif'] %>
          <%= f.submit "Valider", class: "btn btn-success" %>
          <%= link_to "Annuler", equipment_index_path, class: "btn btn-danger" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
