 <div class="container_show_equipment">
   <div class="card-equipment sticky-top">
      <h3 class="title-show text-center h2 font-weight-bold"><%= @equipment.identifiant %><span class="h4 text-muted ml-2">(<%= @equipment.name %>)</span></h3>
      <p class="h5 ml-4 font-weight-bold">Localisation : <span class="equipement_item_show"><%= @equipment.location %></span></p>
      <p class="h5 ml-4 font-weight-bold">Informations : <span class="equipement_item_show"><%= @equipment.detail %></span></p>
      <p class="h5 ml-4 font-weight-bold">Statut : <span class="equipement_item_show"><%= @equipment.status %></span></p>
      <p class="h5 ml-4 font-weight-bold">Mise en service : <span class="equipement_item_show"><%= @equipment.commissioning_date.strftime("%d/%m/%Y") %></span></p>
      <p class="h5 ml-4 font-weight-bold">Validité QP : <span class="equipement_item_show"><%= @equipment.validity_qualification.strftime("%d/%m/%Y") %></span></p>
      <p class="btn_add_maintenance"><%= link_to 'Déclarer une intervention', new_equipment_maintenance_path(@equipment), class:'btn btn-success text-light' %></p>
   </div>
   <div class="maintenances_show_equipment">
      <% @sort_maintenances.each do |sort_maintenance| %>         
         <div class="card mb-4">
            <div class="back-color card-header d-flex justify-content-between">
               <div class="d-flex flex-column">
                  <% if sort_maintenance.start_date === sort_maintenance.end_date %>
                     <p class="equipment-show-color font-weight-bold"><%= sort_maintenance.start_date.strftime("%d/%m/%Y") %></p>
                  <% else %>
                     <p class="equipment-show-color font-weight-bold"><%= sort_maintenance.start_date.strftime("%d/%m/%Y") %> - <%= sort_maintenance.end_date.strftime("%d/%m/%Y") %></p>
                  <% end %>
                  <p><%= sort_maintenance.user.visa %></p>
               </div>
               <div class="d-flex flex-column align-items-end">
                  <% if sort_maintenance.status == "Planifiée" %>
                     <p class="maintenance-status-blue font-weight-bold"><%= sort_maintenance.status %></p>
                  <% elsif sort_maintenance.status == "En cours" %>
                     <p class="maintenance-status-orange font-weight-bold"><%= sort_maintenance.status %></p>
                  <% else %>
                     <p class="maintenance-status-green font-weight-bold"><%= sort_maintenance.status %></p>
                  <% end %>
                  <p><%= link_to edit_maintenance_path(sort_maintenance) do %>
                     <i class="fas fa-user-edit"></i>
                  <% end %></p>
               </div>
            </div>
            <div class="card-body">
               <div class="d-flex justify-content-center">
                  <h5 class="equipment-show-color border p-2 card-title"><%= sort_maintenance.title %></h5>
               </div>
               <p class="card-text text-wrap mt-4"><%= sort_maintenance.description %></p>
               <div class="d-flex justify-content-center">
                  <h6 class="d-flex pt-3"><%= "- #{sort_maintenance.external_interlocutor.name} (#{sort_maintenance.external_interlocutor.company}) -" %></h6>
               </div>
            </div>
         </div>
      <% end %>         
   </div>
 </div>
