 <div class="container_show_equipment">
   <div class="card-equipment sticky-top">
      <h3 class="title-show text-center h2 font-weight-bold"><%= @equipment.identifiant %><span class="h4 text-muted ml-2">(<%= @equipment.name %>)</span></h3>
      <p class="h5 ml-4 font-weight-bold">Localisation : <span class="equipement_item_show"><%= @equipment.location %></span></p>
      <p class="h5 ml-4 font-weight-bold">Informations : <span class="equipement_item_show"><%= @equipment.detail %></span></p>
      <p class="h5 ml-4 font-weight-bold">Statut : <span class="equipement_item_show"><%= @equipment.status %></span></p>
      <p class="h5 ml-4 font-weight-bold">Mise en service : <span class="equipement_item_show"><%= @equipment.commissioning_date.strftime("%d/%m/%Y") %></span></p>
      <p class="h5 ml-4 font-weight-bold">Validité QP : <span class="equipement_item_show"><%= @equipment.validity_qualification.strftime("%d/%m/%Y") %></span></p>
      <p class="btn_add_maintenance"><%= link_to 'Déclarer une intervention', new_equipment_maintenance_path(@equipment), class:'btn btn-success text-light' %></p>
   </div>
   <div class="maintenances_show_equipment">
      <% @equipment.maintenances.each do |maintenance| %>         
         <div class="card mb-4">
            <div class="card-header d-flex justify-content-between">
               <p><%= maintenance.start_date.strftime("%d/%m/%Y") %></p>
               <p><%= maintenance.end_date.strftime("%d/%m/%Y") %></p>
               <p><%= maintenance.status %></p> 
            </div>
            <div class="card-body">
               <h5 class="card-title"><%= maintenance.title %></h5>
               <p class="card-text text-wrap"><%= maintenance.description %></p>
               <p class="d-flex justify-content-between">
               <%= "#{maintenance.external_interlocutor.company} - #{maintenance.external_interlocutor.name}" %> / 
               <%= maintenance.internal_interlocutor.visa %>
               <%= link_to edit_maintenance_path(maintenance) do %>
                  <i class="fas fa-user-edit"></i>
               <% end %>
               </p>
            </div>
         </div>
      <% end %>         
   </div>
 </div>

