 <div class="container_show_equipment">
   <div class="card-equipment sticky-top">
      <h3 class="title-show text-center font-weight-bold mt-3">
         <%= @equipment.identifiant %><br>
         <span class="h5 text-muted">
            (<%= @equipment.location %>)
         </span>
      </h3>
      <p class="criticity"><i class="fas fa-exclamation-triangle"></i></p>

      <p class="ml-4">Statut 
         <% if @equipment.status == "Actif" %>
            <span class="status-color-green font-weight-bold"><%= @equipment.status %></span>
         <% else %>
            <span class="status-color-red font-weight-bold"><%= @equipment.status %></span>
         <% end %>
      </p>

      <% if @equipment.validity_qualification.present? %>
         <p class="ml-4">Validité QP 
         <br>
            <span class="equipement_item_show font-weight-bold">
               <%= @equipment.validity_qualification.strftime("%d/%m/%Y") %>
            </span>
         </p>
      <% end %>

      <% if @equipment.commissioning_date.present? %>
         <p class="ml-4">Date de mise en service
         <br> 
            <span class="equipement_item_show font-weight-bold">
               <%= @equipment.commissioning_date.strftime("%d/%m/%Y") %>
            </span>
         </p>
      <% end %>

      <% if @equipment.signature_date.present? %>
         <p class="ml-4">Date de signature du contrat 
         <br>
            <span class="equipement_item_show font-weight-bold">
               <%= @equipment.signature_date.strftime("%d/%m/%Y") %>
            </span>
         </p>
      <% end %>

      <% if @equipment.end_contract.present? %>
         <p class="ml-4">Date de fin du contrat 
         <br>
            <span class="equipement_item_show font-weight-bold">
               <%= @equipment.end_contract.strftime("%d/%m/%Y") %>
            </span>
         </p>
      <% end %>
      
      <p class="ml-4">Informations complémentaires 
      <br>
         <span class="equipement_item_show font-weight-bold">
            <%= @equipment.detail %>
         </span>
      <p class="btn_add_maintenance"><%= link_to 'Déclarer une intervention', new_equipment_maintenance_path(@equipment), class:'btn btn-success' %></p>
   </div>

   <div class="maintenances_show_equipment">
      <div class="d-flex justify-content-center">
         <% @status.each do |status| %>
         <div class="m-3 mb-5" role="button"><%= link_to "#{status}", equipment_path(status: status), class: "btn btn-primary" %></div>
         <% end %>
         <div class="m-3 mb-5" role="button"><%= link_to "Toutes", equipment_path(@equipment), class: "btn btn-primary" %></div>
      </div>

      <% @sort_maintenances.each do |sort_maintenance| %>    
         <div class="maintenance_card mb-5">
            <% if sort_maintenance.status == "Planifié" %>
               <div class="maintenance_card_list maintenance-status-blue">
               <p class="font-weight-bold"><%= sort_maintenance.status %></p>
                  <p>
                     <% if sort_maintenance.start_time == sort_maintenance.end_time %>
                        <p class="font-weight-bold"><%= sort_maintenance.start_time.strftime("%d/%m/%Y") %></p>
                     <% else %>
                        <p class="font-weight-bold"><%= sort_maintenance.start_time.strftime("%d/%m/%Y") %> <br>- <br> <%= sort_maintenance.end_time.strftime("%d/%m/%Y") %></p>
                     <% end %>
                  </p>

                  <% if sort_maintenance.external_interlocutor.company != " NA " %>
                     <p>
                        <%= "#{sort_maintenance.external_interlocutor.name} (#{sort_maintenance.external_interlocutor.company})" %>
                     </p>
                  <% end %>

                  <p><%= sort_maintenance.user.visa %></p>
               </div>

            <% elsif sort_maintenance.status == "En cours" %>
               <div class="maintenance_card_list maintenance-status-orange">
                  <p class="font-weight-bold"><%= sort_maintenance.status %></p>
                  <p>
                     <% if sort_maintenance.start_time === sort_maintenance.end_time %>
                        <p class="font-weight-bold"><%= sort_maintenance.start_time.strftime("%d/%m/%Y") %></p>
                     <% else %>
                        <p class="font-weight-bold"><%= sort_maintenance.start_time.strftime("%d/%m/%Y") %> - <%= sort_maintenance.end_time.strftime("%d/%m/%Y") %></p>
                     <% end %>
                  </p>

                  <% if sort_maintenance.external_interlocutor.company != " NA " %>
                     <p>
                        <%= "#{sort_maintenance.external_interlocutor.name} (#{sort_maintenance.external_interlocutor.company})" %>
                     </p>
                  <% end %>

                  <p><%= sort_maintenance.user.visa %></p>
               </div>

            <% else %>
               <div class="maintenance_card_list maintenance-status-green">
                  <p class="font-weight-bold"><%= sort_maintenance.status %></p>
                  <p>
                     <% if sort_maintenance.start_time === sort_maintenance.end_time %>
                        <p class="font-weight-bold"><%= sort_maintenance.start_time.strftime("%d/%m/%Y") %></p>
                     <% else %>
                        <p class="font-weight-bold"><%= sort_maintenance.start_time.strftime("%d/%m/%Y") %> - <%= sort_maintenance.end_time.strftime("%d/%m/%Y") %></p>
                     <% end %>
                  </p>

                  <% if sort_maintenance.external_interlocutor.company != " NA " %>
                     <p>
                        <%= "#{sort_maintenance.external_interlocutor.name} (#{sort_maintenance.external_interlocutor.company})" %>
                     </p>
                  <% end %>

                  <p><%= sort_maintenance.user.visa %></p>
               </div>
            <% end %>
            <div class="maintenance_card_description">
               <h3 class="text-center mb-4"><%= sort_maintenance.name %></h3>
               <p><%= sort_maintenance.description %></p>
               <p class="maintenance_edit">
                  <%= link_to edit_maintenance_path(sort_maintenance) do %>
                     <i class="fas fa-user-edit"></i>
                  <% end %></p>
               </p>
            </div>
         </div>
      <% end %>
   </div>
 </div>
