 <div class="container_show_equipment">
   <!-- Carte de caractéristiques de l'équipement -->
   <div class="card-equipment sticky-top">
      <h3 class="title-show text-center font-weight-bold mt-3">
         <%= @equipment.identifiant %><br>
         <span class="h5 text-muted">
            (<%= @equipment.location %>)
         </span>
      </h3>

      <!-- Ajout d'un logo si l'équipement est critique -->
      <% if @equipment.criticity %>
         <p class="criticity"><i class="fas fa-exclamation-triangle"></i></p>
      <% end %>

      <!-- Changement de couleur de police en fonction du statut de l'équipement -->
      <p class="ml-4">Statut : 
         <% if @equipment.status == "Actif" %>
            <span class="text-success font-weight-bold"><%= @equipment.status %></span>
         <% else %>
            <span class="text-danger font-weight-bold"><%= @equipment.status %></span>
         <% end %>
      </p>

      <!-- Ligne non visible si l'équipement n'a pas de numéro de série -->
      <% if @equipment.serial_number.present? %>
         <p class="ml-4">Numéro de série 
         <br>
            <span class="equipement_item_show font-weight-bold">
               <%= @equipment.serial_number %>
            </span>
         </p>
      <% end %>

      <!-- Ligne non visible si l'équipement n'est pas soumi aux qualifications -->
      <% if @equipment.validity_qualification.present? %>
         <p class="ml-4">Validité QP 
         <br>
            <span class="equipement_item_show font-weight-bold">
               <%= @equipment.validity_qualification.strftime("%d/%m/%Y") %>
            </span>
         </p>
      <% end %>

      <!-- Ligne non visible si l'équipement n'est pas soumi aux qualifications -->
      <% if @equipment.recurrence.present? %>
         <p class="ml-4">Récurrence qualification 
         <br>
            <span class="equipement_item_show font-weight-bold">
               <%= @equipment.recurrence %>
            </span>
         </p>
      <% end %>

      <!-- Ligne non visible si la date de mise en service n'est pas connue -->
      <% if @equipment.commissioning_date.present? %>
         <p class="ml-4">Date de mise en service
         <br> 
            <span class="equipement_item_show font-weight-bold">
               <%= @equipment.commissioning_date.strftime("%d/%m/%Y") %>
            </span>
         </p>
      <% end %>

      <!-- Ligne non visible si l'équipement ne possède pas de date de début de contrat de maintenance -->
      <% if @equipment.signature_date.present? %>
         <p class="ml-4">Début du contrat de maintenance
         <br>
            <span class="equipement_item_show font-weight-bold">
               <%= @equipment.signature_date.strftime("%d/%m/%Y") %>
            </span>
         </p>
      <% end %>

      <!-- Ligne non visible si l'équipement ne possède pas de date de fin de contrat de maintenance -->
      <% if @equipment.end_contract.present? %>
         <p class="ml-4">Fin du contrat de maintenance
         <br>
            <span class="equipement_item_show font-weight-bold">
               <%= @equipment.end_contract.strftime("%d/%m/%Y") %>
            </span>
         </p>
      <% end %>
      
      <!-- Ligne non visible si le champ "détails" de l'équipement n'a pas été rempli -->
      <% if @equipment.detail.present? %>
         <p class="ml-4">Informations complémentaires 
         <br>
         <span class="equipement_item_show font-weight-bold">
            <%= @equipment.detail %>
         </span>
      <% end %>

      <!-- Lien vers new_maintenance -->
      <p class="btn_add_maintenance">
         <%= link_to  new_equipment_maintenance_path(@equipment), class:'btn btn-success' do %>
            <i class="fab fa-whmcs"></i> Déclarer une intervention
         <% end %>
      </p>
   </div>
   <!-- Fin de la carte de l'équipement -->

   <div class="maintenances_show_equipment">
      <!-- Buttons de tri des maintenances en fonction de leur statut -->
      <div class="d-flex justify-content-center">
         <% @status.each do |status| %>
         <div class="m-3 mb-5" role="button"><%= link_to "#{status}", equipment_path(status: status), class: "btn btn-primary" %></div>
         <% end %>
         <div class="m-3 mb-5" role="button"><%= link_to "Toutes", equipment_path(@equipment), class: "btn btn-primary" %></div>
      </div>

      <!-- Cartes des maintenances liées à l'équipement -->
      <% @sort_maintenances.each do |sort_maintenance| %>    
         <div class="maintenance_card mb-5">

            <!-- Partie gauche de la carte, la couleur change en fonction du statut de la maintenance  -->
            <% if sort_maintenance.status == "Planifié" %>
               <div class="maintenance_card_list maintenance-status-blue">
               <p class="font-weight-bold"><i class="far fa-calendar-check"></i> <%= sort_maintenance.status %></p>

                  <!-- Affichage des dates de la maintenance -->
                  <p>
                     <% if sort_maintenance.start_time == sort_maintenance.end_time %>
                        <p class="font-weight-bold"><%= sort_maintenance.start_time.strftime("%d/%m/%Y") %></p>
                     <% else %>
                        <p class="font-weight-bold"><%= sort_maintenance.start_time.strftime("%d/%m/%Y") %> <br>- <br> <%= sort_maintenance.end_time.strftime("%d/%m/%Y") %></p>
                     <% end %>
                  </p>

                  <!-- Affichage ou non du prestataire -->
                  <% if sort_maintenance.external_interlocutor.name != "Pas de prestataire" %>
                     <p>
                        <% if sort_maintenance.external_interlocutor.company.present? %>
                           <%= "#{sort_maintenance.external_interlocutor.name} (#{sort_maintenance.external_interlocutor.company})" %>
                        <% else %>
                           <%= sort_maintenance.external_interlocutor.name %>
                        <% end %>
                     </p>
                  <% end %>
                  
                  <!-- Affichage de la personne ayant déclarée la maintenance -->
                  <p><%= sort_maintenance.user.visa %></p>
               </div>

            <% elsif sort_maintenance.status == "En cours" %>
               <div class="maintenance_card_list maintenance-status-orange">
                  <p class="font-weight-bold"><i class="fas fa-spinner"></i> <%= sort_maintenance.status %></p>

                  <!-- Affichage des dates de la maintenance -->
                  <p>
                     <% if sort_maintenance.start_time === sort_maintenance.end_time %>
                        <p class="font-weight-bold"><%= sort_maintenance.start_time.strftime("%d/%m/%Y") %></p>
                     <% else %>
                        <p class="font-weight-bold"><%= sort_maintenance.start_time.strftime("%d/%m/%Y") %> <br>- <br> <%= sort_maintenance.end_time.strftime("%d/%m/%Y") %></p>
                     <% end %>
                  </p>

                  <!-- Affichage ou non du prestataire -->
                  <% if sort_maintenance.external_interlocutor.name != "Pas de prestataire" %>
                     <p>
                        <% if sort_maintenance.external_interlocutor.company.present? %>
                           <%= "#{sort_maintenance.external_interlocutor.name} (#{sort_maintenance.external_interlocutor.company})" %>
                        <% else %>
                           <%= sort_maintenance.external_interlocutor.name %>
                        <% end %>
                     </p>
                  <% end %>

                  <!-- Affichage de la personne ayant déclarée la maintenance -->
                  <p><%= sort_maintenance.user.visa %></p>
               </div>

            <% else %>
               <div class="maintenance_card_list maintenance-status-green">
                  <p class="font-weight-bold"><i class="fas fa-check-double"></i> <%= sort_maintenance.status %></p>

                  <!-- Affichage des dates de la maintenance -->
                  <p>
                     <% if sort_maintenance.start_time === sort_maintenance.end_time %>
                        <p class="font-weight-bold"><%= sort_maintenance.start_time.strftime("%d/%m/%Y") %></p>
                     <% else %>
                        <p class="font-weight-bold"><%= sort_maintenance.start_time.strftime("%d/%m/%Y") %> <br>- <br> <%= sort_maintenance.end_time.strftime("%d/%m/%Y") %></p>
                     <% end %>
                  </p>

                  <!-- Affichage ou non du prestataire -->
                  <% if sort_maintenance.external_interlocutor.name != "Pas de prestataire" %>
                     <p>
                        <% if sort_maintenance.external_interlocutor.company.present? %>
                           <%= "#{sort_maintenance.external_interlocutor.name} (#{sort_maintenance.external_interlocutor.company})" %>
                        <% else %>
                           <%= sort_maintenance.external_interlocutor.name %>
                        <% end %>
                     </p>
                  <% end %>

                  <!-- Affichage de la personne ayant déclarée la maintenance -->
                  <p><%= sort_maintenance.user.visa %></p>
               </div>
            <% end %>

            <!-- Corps de la carte maintenance -->
            <div class="maintenance_card_description">
               <h4 class="text-center mb-4"><%= sort_maintenance.name %></h4>
               <p><%= sort_maintenance.description %></p>

               <!-- Lien vers edit_maintenance -->
               <p class="maintenance_edit">
                  <%= link_to edit_maintenance_path(sort_maintenance) do %>
                     <i class="fas fa-user-edit"></i>
                  <% end %></p>
               </p>
            </div>
         </div>
      <% end %>
   </div>
 </div>
