 <div class="index_equipment_flex">
    <h1><%= @equipment.name %></h1>
    <p><%= @equipment.identifiant %></p>
    <p><%= @equipment.location %></p>
    <p><%= @equipment.detail %></p>
    <p><%= @equipment.commissioning_date %></p>
    <p><%= @equipment.validity_qualification %></p>
    <p><%= @equipment.status %></p>
  </div>

<%= link_to 'Ajouter une maintenance', new_equipment_maintenance_path(@equipment), class:'btn btn-success text-light' %>
<%= link_to 'Voir toutes les maintenances', equipment_maintenances_path(@equipment), class:'btn btn-primary text-light' %>