<div class="container-fluid">
  <div class="d-flex flex-column mb-3 align-items-center">
    <h2 class="title-index-user font-weight-bold mb-4 border-bottom"><i class="fas fa-user"></i> Intervenants Bioprotec</h2>
  </div>

  <!-- Boutons de tri en fonction du statut des utilisateurs -->
  <div class="d-flex justify-content-center">
    <% @status.each do |status| %>
      <div class="m-3" role="button"><%= link_to "#{status}", users_path(status: status), class: "btn btn-primary" %></div>
    <% end %>
    <div class="m-3" role="button"><%= link_to "Tous", users_path, class: "btn btn-primary" %></div>
  </div>

  <div class="d-flex justify-content-center">
    <!-- Tableau des utilisateurs -->
    <table>
      <thead class="back-index-user-color">
        <!-- Titre des colonnes -->
        <tr>
          <th class="font-weight-bold p-3 text-center h6">Visa</th>
          <th class="font-weight-bold p-3 text-center h6">Email</th>
          <th class="font-weight-bold p-3 text-center h6">Statut</th>
          </th>
        </tr>
      </thead>
      <!-- Corps du tableau -->
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <% if user.admin == true %>
              <td class="p-4 text-center h5"><%= user.visa %> <i class="fas fa-award"></i></td>
            <% else %>
             <td class="p-4 text-center h5"><%= user.visa %></td>
            <% end %>

            <td class="p-4 text-center h5">
              <!-- Ouvre la messagerie par défaut -->
              <%= mail_to "#{user.email}", user.email, class: "remove-deco-link" %>
            </td>

            <!-- L'icone change en fonction du statut -->
            <% if user.status == "Actif" %>
              <td class="p-3 text-center h5 text-success"><i class="fas fa-check"></i></td>
            <% else %>
              <td class="p-3 text-center h5 text-danger"><i class="fas fa-times"></i></i></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>