<div class="navbar navbar-expand-sm navbar-light navbar-bioprotec mb-5">
  <!-- Lien vers le calendrier -->
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "logo_bioprotec.png", class:'logo_bioprotec_nav' %>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> 

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <!-- Si l'utilisateur des déjà enregistré et connecté --> 
      <% if user_signed_in? %>

        <!-- Lien vers l'index des équipements -->
        <li class="nav-item">
          <%= link_to equipment_index_path, class: "nav-link" do %>
            <i class="fas fa-charging-station"></i> Équipements
          <% end %>
        </li>

        <!-- Lien vers l'index des maintenances -->
        <li class="nav-item">
          <%= link_to maintenances_path, class: "nav-link" do %>
            <i class="fas fa-wrench"></i> Maintenances
          <% end %>
        </li>

        <!-- Lien vers l'index des prestataires -->
        <li class="nav-item">
          <%= link_to external_interlocutors_path, class: "nav-link" do %>
            <i class="fas fa-user-tie"></i> Prestataires
          <% end %>
        </li>

        <!-- Lien vers l'index des utilisateurs enregistrés -->
        <li class="nav-item">
          <%= link_to users_path, class: "nav-link" do %>
            <i class="fas fa-user"></i> Bioprotec
          <% end %>
        </li>
        
        <!-- Déconnexion de la cession -->
        <li class="nav-item">
            <%= link_to destroy_user_session_path, method: :delete, class: "nav-link logout" do %>
              <i class="fas fa-times-circle"></i> Déconnexion <%= current_user.visa %>
            <% end %>
        </li>

      <% else %>
        <!-- Si l'utilisateur n'est pas connecté -->
        <li class="nav-item">
          <%= link_to "Connexion", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
