<div class="calendar-container">
  <%= month_calendar(events: @maintenances, end_attribute: :end_time) do |date, maintenances| %>
    <%= date %>

    <% maintenances.each do |maintenance| %>
      <% if maintenance.status == "Planifié" %>
        <div class="meeting mb-1 maintenance-status-blue">
          <small><%= maintenance.time unless maintenance.multi_days? %></small>
          <p><%= maintenance.name %></p>
        </div>
      <% elsif maintenance.status == "En cours" %>
        <div class="meeting mb-1 maintenance-status-orange">
          <small><%= maintenance.time unless maintenance.multi_days? %></small>
          <p><%= maintenance.name %></p>
        </div>
      <% else %>
        <div class="meeting mb-1 maintenance-status-green">
          <small><%= maintenance.time unless maintenance.multi_days? %></small>
          <p><%= maintenance.name %></p>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
