<div class="position-relative">
  <div class="container">
    <div class="row rounded">
      <div class="col-6 m-auto rounded p-4 border bg-transparent">
        <div class="d-flex justify-content-between align-items-center">
          <h3 class="title-edit font-weight-bold mb-3">Modifier une intervention</h3>

          <!-- admin : supprimer une maintenance -->
          <% if current_user.admin == true %>
            <%= link_to maintenance_path, class: "delete-external h3", method: :delete do %>
              <i class="fas fa-trash-alt"></i>
            <% end %>
          <% end %>
        </div>

        <!-- Formulaire de modification de maintenance -->
        <%= simple_form_for [ @equipment, @maintenance ] do |f| %>
          <%= f.input :name, label: 'Intitulé' %>
          <%= f.input :description, :as => :text, :input_html => { 'rows' => 8, 'cols' => 10 } %>
          <%= f.input :start_time, as: :datetime, html5: true, label: 'Date de début' %>
          <%= f.input :end_time, as: :datetime, html5: true, label: 'Date de fin' %>
          <div class="d-flex flex-column w-100 my-4">
            <%= f.select :external_interlocutor_id, options_for_select(@filtered_externals, @external_interlocutor), include_blank: "Prestataire" %>
          </div>
          <div class="d-flex flex-column w-100 mb-3">
            <%= f.select :user_id, options_for_select(@filtered_users, @user), include_blank: "Bioprotec" %>
          </div>
          <%= f.input :status, label: 'Statut', :collection => ['Planifié', 'En cours' ,'Clôturé'] %>
          <%= f.submit "Valider", class: "btn-new-maintenance btn btn-success mt-3" %>
          <%= link_to "Annuler", :back, class: "btn-new-maintenance btn btn-danger mt-3" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
