<div class="container-fluid">
  <div class="d-flex flex-column mb-3 align-items-center">
    <h2 class="title-external font-weight-bold mb-5 border-bottom"><i class="fas fa-wrench"></i> Maintenances</h2>

    <!-- Champ de recherche -->
    <div class="d-flex">
      <div>
        <%= form_tag maintenances_path, class:"form-inline", method: :get do %>
          <%= text_field_tag :maintenance,
              params[:maintenance],
              class: "form-control",
              placeholder: "Nom ou identifiant",
              style: "width: 260px;"
          %>
          <%= submit_tag "Rechercher", class:"btn btn-primary mr-5" %>
        <% end %>
      </div>

    <!-- Boutons de tri en fonction du statut des maintenance -->
      <% @status.each do |status| %>
        <div class="ml-3" role="button"><%= link_to "#{status}", maintenances_path(status: status), class: "btn btn-primary" %></div>
      <% end %>
      <div class="ml-3" role="button"><%= link_to "Toutes", maintenances_path, class: "btn btn-primary" %></div>
    </div>
  </div>

  <div class="d-flex justify-content-center">
    <!-- Tableau des maintenances-->
    <table>
      <!-- Titre des colonnes -->
      <thead class="back-color">
        <tr>
          <th class="p-3 text-center h6 font-weight-bold">Équipement</th>
          <th class="p-3 text-center h6 font-weight-bold">Intitulé</th>
          <th class="p-3 text-center h6 font-weight-bold">Date de début</th>
          <th class="p-3 text-center h6 font-weight-bold">Date de fin</th>
          <th class="p-3 text-center h6 font-weight-bold">Prestataire</th>
          <th class="p-3 text-center h6 font-weight-bold">Bioprotec</th>
          <th class="p-3 text-center h6 font-weight-bold">Statut</th>
        </tr>
      </thead>

      <!-- Corps du tableau -->
      <tbody>
        <% @maintenances.each do |maintenance| %>
          <tr class= "hover">
            <td class="p-4 text-center h5">
              <!-- Lien vers la show de l'équipement -->
              <%= link_to "#{maintenance.equipment.name} (#{maintenance.equipment.identifiant})", equipment_path(maintenance.equipment), class: "remove-deco-link" %>
            </td>
            <td class="p-4 text-center h5"><%= maintenance.name %></td>
            <td class="p-4 text-center h5"><%= maintenance.start_time.strftime("%d/%m/%Y") %></td>
            <td class="p-4 text-center h5"><%= maintenance.end_time.strftime("%d/%m/%Y") %></td>

            <!--  Affichage ou non du prestataire -->
            <% if maintenance.external_interlocutor_id.present? %>
              <% if maintenance.external_interlocutor.company.present? %>
                <td class="p-4 text-center h5">
                  <%= link_to "#{maintenance.external_interlocutor.name} (#{maintenance.external_interlocutor.company})", external_interlocutor_path(maintenance.external_interlocutor), class: "remove-deco-link" %>
                </td>
              <% else %>
                <td class="p-4 text-center h5">
                  <%= link_to maintenance.external_interlocutor.name, external_interlocutor_path(maintenance.external_interlocutor), class: "remove-deco-link" %>
                </td>
              <% end %>
            <% else %>
              <td class="p-4 text-center h5"><i class="fas fa-ban"></i></td>
            <% end %>

            <!-- Affichage de la personne ayant effectué ou ayant assisté à la maintenance -->
            <% if maintenance.user_id.present? %>
              <td class="p-4 text-center h5"><%= maintenance.user.visa %></td>
            <% else %>
              <td class="p-4 text-center h5"><i class="fas fa-ban"></i></td>
            <% end %>
            
            <!-- Changement de couleur en fonction du statut -->
            <% if maintenance.status == "Planifié" %>
              <td class="maintenance-status-blue p-4 text-center h5"><%= maintenance.status %></td>
            <% elsif maintenance.status == "En cours" %>
              <td class="maintenance-status-orange p-4 text-center h5"><%= maintenance.status %></td>
            <% elsif  maintenance.status == "Clôturé"%>
              <td class="maintenance-status-green p-4 text-center h5"><%= maintenance.status %></td>
            <% else %>
              <td class="maintenance-status-red p-4 text-center h5"><%= maintenance.status %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
