<div class="container-fluid">
  <div class="d-flex flex-column mb-3 align-items-center">
    <h2 class="title-external font-weight-bold mb-5 border-bottom">Maintenances</h2>
    <div class="d-flex">
      <%= form_tag maintenances_path, class:"form-inline", method: :get do %>
        <%= text_field_tag :maintenance,
            params[:maintenance],
            class: "form-control",
            placeholder: "Rechercher une maintenance",
            style: "width: 260px;"
        %>
      <% end %>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <table>
      <thead class="back-color">
        <tr>
          <th class="p-3 text-center h6 font-weight-bold">Équipement</th>
          <th class="p-3 text-center h6 font-weight-bold">Intitulé</th>
          <th class="p-3 text-center h6 font-weight-bold">Date de début</th>
          <th class="p-3 text-center h6 font-weight-bold">Date de fin</th>
          <th class="p-3 text-center h6 font-weight-bold">Prestataire</th>
          <th class="p-3 text-center h6 font-weight-bold">Bioprotec</th>
          <th class="p-3 text-center h6 font-weight-bold">État</th>
        </tr>
      </thead>
      <tbody>
        <% @maintenances.each do |maintenance| %>
          <tr class= "hover">
            <td class="p-4 text-center h5"><%= link_to "#{maintenance.equipment.name} (#{maintenance.equipment.identifiant})", equipment_path(maintenance.equipment), class: "remove-deco-link" %></td>
            <td class="p-4 text-center h5"><%= maintenance.title %></td>
            <td class="p-4 text-center h5"><%= maintenance.start_date.strftime("%d/%m/%Y") %></td>
            <td class="p-4 text-center h5"><%= maintenance.end_date.strftime("%d/%m/%Y") %></td>
            <td class="p-4 text-center h5"><%= link_to "#{maintenance.external_interlocutor.name} (#{maintenance.external_interlocutor.company})", external_interlocutor_path(maintenance.external_interlocutor), class: "remove-deco-link" %></td>
            <td class="p-4 text-center h5"><%= current_user.visa %></td>
            <% if maintenance.status == "Planifiée" %>
              <td class="maintenance-status-blue p-4 text-center h5"><%= maintenance.status %></td>
            <% elsif maintenance.status == "En cours" %>
              <td class="maintenance-status-orange p-4 text-center h5"><%= maintenance.status %></td>
            <% else %>
              <td class="maintenance-status-green p-4 text-center h5"><%= maintenance.status %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
