<div class="container">
  <div class="row rounded">
    <div class="m-auto rounded p-4 border bg-transparent">
      <h1 class="title-new-maintenance mb-3 font-weight-bold">Déclarer une intervention</h1>
      <%= simple_form_for [ @equipment, @maintenance ] do |f| %>
        <%= f.input :title, label: 'Intitulé' %>
        <%= f.input :description, :as => :text, :input_html => { 'rows' => 5, 'cols' => 10 } %>
        <%= f.input :start_date, as: :date, html5: true, label: 'Date de début' %>
        <%= f.input :end_date, as: :date, html5: true, label: 'Date de fin' %>
        <div class="d-flex flex-column w-100">
          <%= select_tag :external_interlocutor_id, options_for_select(@external_interlocutors.map{ |e| ["#{e.company} - #{e.name}", e.id] }), prompt: "Prestataires", class: "select-menu mt-3 mb-3" %>
        </div>
        <div class="d-flex flex-column w-100">
          <%= select_tag :user_id, options_for_select(@users.map{ |u| ["#{u.visa}", u.id] }), prompt: "Bioprotec", class: "select-menu mt-2 mb-4" %>
        </div>
        <%= f.input :status, label: 'Statut', :collection => ['Planifiée', 'En cours' ,'Clôturée'] %>
        <%= f.submit "Valider", class: "btn-new-maintenance btn btn-success mt-3" %>
        <%= link_to "Annuler", equipment_path(@equipment), class: "btn-new-maintenance btn btn-danger mt-3" %>
      <% end %>
    </div>
  </div>
</div>
