<div class="position-relative">
  <div class="container">
    <div class="row rounded">
      <div class="col-6 m-auto rounded p-4 border bg-transparent">
        <div class="d-flex justify-content-between align-items-center">
          <h3 class="title-edit font-weight-bold mb-3">Modifier un prestataire</h3>
        </div>

        <!-- Formulaire pour éditer un prestataire -->
        <%= simple_form_for [ @external_interlocutor ] do |f| %>
          <%= f.input :name, label: 'Nom' %>
          <%= f.input :company, label: 'Société' %>
          <%= f.input :phone_number, label: 'Téléphone fixe' %>
          <%= f.input :mobile_number, label: 'Mobile' %>
          <%= f.input :email %>
          <%= f.input :detail, label: 'Informations complémentaires' %>
          <%= f.input :status, label: 'Statut', :collection => ['Actif', 'Inactif'] %>
          <%= f.submit "Valider", class: "mt-3 btn-edit btn btn-success" %>
          <%= link_to "Annuler", external_interlocutors_path, class: "mt-3 btn-edit btn btn-danger" %>
        <% end %>
      </div>
    </div>
  </div>
</div>