<div class="container-fluid">
  <div class="d-flex flex-column mb-3 align-items-center">
    <h2 class="title-external font-weight-bold mb-5 border-bottom"><i class="fas fa-user-tie"></i> Prestataires</h2>

    <!-- Champ de recherche -->
    <div class="d-flex">
      <div>
        <%= form_tag external_interlocutors_path, class:"form-inline", method: :get do %>
          <%= text_field_tag :external,
              params[:external],
              class: "form-control",
              placeholder: "Nom ou société",
              style: "width: 250px;"
          %>
          <%= submit_tag "Rechercher", class:"btn btn-primary mr-5" %>
        <% end %>
      </div>

    <!-- Boutons de tri en fonction du statut des prestataires -->
      <% @status.each do |status| %>
        <div class="ml-3" role="button"><%= link_to "#{status}", external_interlocutors_path(status: status), class: "btn btn-primary" %></div>
      <% end %>
      <div class="ml-3" role="button"><%= link_to "Tous", external_interlocutors_path, class: "btn btn-primary" %></div>
    </div>
  </div>

  <div class="d-flex justify-content-center">

    <!-- Tableaux des prestataires -->
    <table>
      <thead class="back-color">
        <!-- Titres des colonnes -->
        <tr>
          <th class="font-weight-bold p-3 text-center h6">Nom</th>
          <th class="font-weight-bold p-3 text-center h6">Société</th>
          <th class="font-weight-bold p-3 text-center h6">Téléphone</th>
          <th class="font-weight-bold p-3 text-center h6">Mobile</th>
          <th class="font-weight-bold p-3 text-center h6">Email</th>
          <th class="font-weight-bold p-3 text-center h6">Statut</th>

          <!-- admin : lien vers le formulaire de création de prestataire -->
          <% if current_user.admin == true %>
            <th class="p-1 text-center h1">
              <%= link_to new_external_interlocutor_path do %>
                <i class="fas fa-folder-plus"></i>
              <% end %>
            </th>
          <% end %>
        </tr>
      </thead>

      <tbody>
        <!-- Corps du tableau -->
        <% @external_interlocutors.each do |external_interlocutor| %>
          <% if external_interlocutor.name != "Pas de prestataire" %>
            <tr>
              <!-- Lien vers la show du prestataire -->
              <td class="p-4 text-center h5"><%= link_to "#{external_interlocutor.name}", external_interlocutor_path(external_interlocutor), class: "remove-deco-link" %></td>

              <% if external_interlocutor.company.present?%>
                <td class="p-4 text-center h5"><%= external_interlocutor.company %></td>
              <% else %>
                <td class="p-4 text-center h5">/</td>
              <% end %>

              <% if external_interlocutor.phone_number.present?%>
                <td class="p-4 text-center h5"><%= external_interlocutor.phone_number %></td>
              <% else %>
                <td class="p-4 text-center h5">/</td>
              <% end %>

              <% if external_interlocutor.mobile_number.present?%>
                <td class="p-4 text-center h5"><%= external_interlocutor.mobile_number %></td>
              <% else %>
                <td class="p-4 text-center h5">/</td>
              <% end %>

              <% if external_interlocutor.email.present? %>
                <!-- Ouvre la messagerie par défaut -->
                <td class="p-4 text-center h5"><%= mail_to "#{external_interlocutor.email}", external_interlocutor.email, class: "remove-deco-link" %></td>
              <% else %>
                <td class="p-4 text-center h5">/</td>
              <% end %>

              <!-- L'icone change en fonction du statut -->
              <% if external_interlocutor.status == "Actif" %>
                <td class="p-3 text-center h5 text-success"><i class="fas fa-check"></i></td>
              <% else %>
                <td class="p-3 text-center h5 text-danger"><i class="fas fa-times"></i></i></td>
              <% end %>

              <!-- admin : lien vers le formulaire de modification de prestataire -->
              <% if current_user.admin == true %>
                <td class="back-color p-4 text-center h5">
                  <%= link_to edit_external_interlocutor_path(external_interlocutor) do %>
                    <i class="fas fa-user-edit"></i>
                  <% end %>
                </td>
              <% end %>        
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
