<div class="container-fluid">
  <div class="d-flex flex-column mb-3 align-items-center">
    <h2 class="title-external font-weight-bold mb-5 border-bottom">Prestataires</h2>

    <div class="d-flex">
      <%= form_tag external_interlocutors_path, class:"form-inline", method: :get do %>
        <%= text_field_tag :external,
            params[:external],
            class: "form-control",
            placeholder: "Rechercher un prestataire",
            style: "width: 250px;"
        %>
      <% end %>
    </div>

    <div class="d-flex justify-content-center">
      <% @status.each do |status| %>
        <div class="m-3 mt-4" role="button"><%= link_to "#{status}", external_interlocutors_path(status: status), class: "btn btn-primary" %></div>
      <% end %>
      <div class="m-3 mt-4" role="button"><%= link_to "Tous", external_interlocutors_path, class: "btn btn-primary" %></div>
    </div>
  </div>

  <div class="d-flex justify-content-center">
    <table>

      <thead class="back-color">
        <tr>
          <th class="font-weight-bold p-3 text-center h6">Nom</th>
          <th class="font-weight-bold p-3 text-center h6">Société</th>
          <th class="font-weight-bold p-3 text-center h6">Téléphone</th>
          <th class="font-weight-bold p-3 text-center h6">Mobile</th>
          <th class="font-weight-bold p-3 text-center h6">Email</th>
          <th class="font-weight-bold p-3 text-center h6">Statut</th>
          <% if current_user.admin == true %>
            <th class="p-1 text-center h1">
              <%= link_to new_external_interlocutor_path do %>
                <i class="fas fa-folder-plus"></i>
              <% end %>
            </th>
          <% end %>
        </tr>
      </thead>

      <tbody>
        <% @external_interlocutors.each do |external_interlocutor| %>
          <% if external_interlocutor.company.present? %>
            <tr>
              <td class="p-4 text-center h5"><%= link_to "#{external_interlocutor.name}", external_interlocutor_path(external_interlocutor), class: "remove-deco-link" %></td>
              <td class="p-4 text-center h5"><%= external_interlocutor.company %></td>
              <td class="p-4 text-center h5"><%= external_interlocutor.phone_number %></td>
              <td class="p-4 text-center h5"><%= external_interlocutor.mobile_number %></td>
              <td class="p-4 text-center h5"><%= mail_to "#{external_interlocutor.email}", external_interlocutor.email, class: "remove-deco-link" %></td>

              <% if external_interlocutor.status == "Actif" %>
                <td class="status-color-green p-3 text-center h5"><%= external_interlocutor.status %></td>
              <% else %>
                <td class="status-color-red p-3 text-center h5"><%= external_interlocutor.status %></td>
              <% end %>

              <% if current_user.admin == true %>
                <td class="back-color p-4 text-center h5">
                  <%= link_to edit_external_interlocutor_path(external_interlocutor) do %>
                    <i class="fas fa-user-edit"></i>
                  <% end %>
                </td>
              <% end %>
              
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
