<div class="position-relative">
  <div class="container">
    <div class="row mt-10 rounded">
      <div class="col-6 m-auto w-50 rounded p-5 border bg-transparen">
        <h1 class="title-new font-weight-bold mb-3">Ajouter un prestataire</h1>
        <%= simple_form_for [ @external_interlocutor ] do |f| %>
          <%= f.input :name, label: 'Nom' %>
          <%= f.input :company, label: 'Société' %>
          <%= f.input :phone_number, label: 'Téléphone fixe' %>
          <%= f.input :mobile_number, label: 'Mobile' %>
          <%= f.input :email %>
          <%= f.submit "Valider", class: "mt-3 btn-radius btn btn-success" %>
          <%= link_to "Annuler", external_interlocutors_path, class: "mt-3 btn-radius btn btn-danger" %>
        <% end %>
      </div>
    </div>
  </div>
</div>