<h2><%= @external_interlocutor.name %></h2>
<p><%= @external_interlocutor.company %></p>
<p><%= @external_interlocutor.phone_number %></p>
<p><%= @external_interlocutor.mobile_number %></p>
<p><%= @external_interlocutor.email %></p>