<div class="container show_external_container">
  <div class="toto">
    <h2><%= @external_interlocutor.company %> - <%= @external_interlocutor.name %></h2>
    <p>Téléphone portable: <%= @external_interlocutor.phone_number %></p>
    <p>Téléphone fixe: <%= @external_interlocutor.mobile_number %></p>
    <p>Email: <%= mail_to "#{@external_interlocutor.email}", @external_interlocutor.email, class: "remove-deco-link" %></p>
    <p class="text-justify">Détails sur le préstataire: <br><br> <%= @external_interlocutor.detail %></p>
  </div>
</div>